@import "../../../base/Helpers/styles/variables";
@import "../../../base/Helpers/styles/rem_converter";
.navLink {
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
 

  .link {
    display: flex;
    width: 100%;
    padding-left: 40px;
    text-decoration: none;
    color: $text;
  }
  strong {
    font-size: rem(20px);
    font-weight: 700;
    margin-left: 20px;
  }
}

.icon {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;

  img {
    margin: auto auto;
  }
}
