// mediaQuery break-points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

// colors
$primary: #1d9bf0;
$secondary: #ffffff;
$text: #000000;
$textLight: rgba(0, 0, 0, 0.49);
$border: #d9dbe9;
